* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: #eff1f5;
    border-bottom: 3px solid #eff1f5;
    color: #4c4f69;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #5c5f77;
}

window#waybar.chromium {
    background-color: #5c5f77;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #4c4f69;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #bcc0cc;
    box-shadow: inset 0 -3px #4c4f69;
}

#workspaces button.focused {
    background-color: #bcc0cc;
    box-shadow: inset 0 -3px #4c4f69;
}

#workspaces button.urgent {
    background-color: #d20f39;
}

#mode {
    background-color: #bcc0cc;
    border-bottom: 3px solid #4c4f69;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #eff1f5;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #bcc0cc;
    color: #4c4f69;
}

#battery {
    background-color: #bcc0cc;
    color: #4c4f69;
}

#battery.charging, #battery.plugged {
    color: #eff1f5;
    background-color: #40a02b;
}

@keyframes blink {
    to {
        background-color: #eff1f5;
        color: #4c4f69;
    }
}

#battery.critical:not(.charging) {
    background-color: #d20f39;
    color: #eff1f5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #4c4f69;
}

#cpu {
    background-color: #04a5e5;
    color: #4c4f69;
}

#memory {
    background-color: #7287fd;
}

#disk {
    background-color: #fe640b;
}

#backlight {
    background-color: #bcc0cc;
    color: #4c4f69;
}

#network {
    background-color: #1e66f5;
}

#network.disconnected {
    background-color: #d20f39;
}

#pulseaudio {
    background-color: #1e66f5;
    color: #eff1f5;
}

#pulseaudio.muted {
    background-color: #bcc0cc;
    color: #eff1f5;
}

#custom-media {
    background-color: #04a5e5;
    color: #4c4f69;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #40a02b;
}

#custom-media.custom-vlc {
    background-color: #df8e1d;
}

#temperature {
    background-color: #fe640b;
}

#temperature.critical {
    background-color: #fe640b;
}

#tray {
    background-color: #1e66f5;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #d20f39;
}

#idle_inhibitor {
    background-color: #6c6f85;
}

#idle_inhibitor.activated {
    background-color: #bcc0cc;
    color: #4c4f69;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #179299;
    color: #eff1f5;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #40a02b;
    color: #eff1f5;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: #4c4f69;
}
